<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phones API</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <div>
        <form action="../brand/brands_list.html" class="d-inline-block">
          <button type="submit" class="btn btn-primary">Brand List</button>
        </form>
        <form action="./phones_add.html" class="d-inline-block ml-2">
          <button type="submit" class="btn btn-primary">Add Phone</button>
        </form>
      </div>
      <h1 class="text-center mb-5">Phones API</h1>

      <h2 class="mb-3">Get All Phones</h2>

      <div class="container mt-3">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Brand</th>
              </tr>
            </thead>
            <tbody id="phone-list"></tbody>
          </table>
        </div>
        <!-- Add the pagination links here -->
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
        </nav>
      </div>
    <script>
      $(document).ready(function () {
        // Add event listeners for all buttons
        //$("#getAllPhones").click(getAllPhones);
        $("#getPhoneById").click(getPhoneById);
        // $("#addPhoneForm").submit(addPhone);
        $("#updatePhone").click(updatePhone);
      });

      window.onload = async function () {
        const limit = 4;
        const page = 1;
        getAllPhones(limit, page);

        //await getBrands().then(populateBrandDropdown);
      };

      // Function to get all Phones
      async function getAllPhones(limit, page) {
        const response = await $.ajax({
          url: `http://localhost:3000/phones/?limit=${limit}&page=${page}`,
          method: "GET",
        });
        const phones = response;
        console.log(phones);
        const phoneList = document.getElementById("phone-list");

        phoneList.innerHTML = "";

        phones.forEach((phone) => {
          const row = document.createElement("tr");
          console.log(phone._id);
          row.setAttribute("data-phone-id", phone._id);
          const idCell = document.createElement("td");
          const nameCell = document.createElement("td");
          const yearCell = document.createElement("td");
          const brandCell = document.createElement("td");
          const deleteCell = document.createElement("td");
          const deleteButton = document.createElement("button");
          const editCell = document.createElement("td");
          const editButton = document.createElement("button");

          idCell.textContent = phone._id;
          idCell.className = "align-middle";
          nameCell.textContent = phone.name;
          nameCell.className = "align-middle";
          yearCell.textContent = phone.year;
          yearCell.className = "align-middle";
          brandCell.textContent = phone.brand.name;
          brandCell.className = "align-middle";
          deleteButton.textContent = "Delete";
          deleteButton.className = "btn btn-danger";
          editButton.textContent = "Edit";
          editButton.className = "btn btn-info";

          // Add an event listener to the delete button
          deleteButton.addEventListener("click", () => {
            deletePhone(phone._id);
          });

          editButton.addEventListener("click", () => {
            editPhone(phone._id);
          });

          deleteCell.appendChild(deleteButton);
          editCell.appendChild(editButton);
          row.appendChild(idCell);
          row.appendChild(nameCell);
          row.appendChild(yearCell);
          row.appendChild(brandCell);
          row.appendChild(deleteCell);
          row.appendChild(editCell);

          phoneList.appendChild(row);
        });
      }

      function editPhone(id) {
        window.location.href = `./phones_edit.html?id=${id}`;
      }

      async function deletePhone(id) {
        // Send a DELETE request to the server to delete the phone with the given ID
        await $.ajax({
          url: `http://localhost:3000/phones/${id}`,
          method: "DELETE",
        });

        // Remove the row from the table
        const rowToRemove = document.querySelector(`tr[data-phone-id="${id}"]`);
        if (rowToRemove) {
          rowToRemove.remove();
        }
      }

      const pageLinks = document.querySelectorAll(".pagination .page-link");
      pageLinks.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const page = link.textContent;
          getAllPhones(4, page);
        });
      });

      // Function to get phone by ID
      async function getPhoneById() {
        const id = $("#phoneId").val();
        const response = await $.ajax({
          url: `http://localhost:3000/phones/${id}`,
          method: "GET",
        });
        $("#phoneById").text(JSON.stringify(response, null, 2));
      }

    </script>
  </body>
</html>