<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Title</title>
</head>
<body>
<header>
  <div class="header">
    <div class="logo">
      <a href="/">
        <img src="../static/images/logo_header.jpg" alt="">
      </a>
    </div>
    <div class="search-header">
      <form class="d-flex" action="/dienthoais/search" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <nav style="background-color:black;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light justify-content-evenly bg-black border-bottom box-shadow mb-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/gioithieu">Giới thiệu</a>
          </li>
          <!-- Dropdown menu for điện thoại -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Điện Thoại
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dienthoais/dienthoai/1">Apple</a>
              <a class="dropdown-item" href="/dienthoais/dienthoai/2">Samsung</a>
              <a class="dropdown-item" href="/dienthoais/dienthoai/3">Xiaomi</a>
              <a class="dropdown-item" href="/dienthoais/dienthoai/4">Realmi</a>
              <a class="dropdown-item" href="/dienthoais/dienthoai/5">Oppo</a>
              <a class="dropdown-item" href="/dienthoais/dienthoai/6">Vivo</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/dienthoais/danhsach">Danh Sách Điện Thoại</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/dienthoais">Quản lý Điện Thoại</a>
            </div>
          </li>
          <li>
            <a class="nav-link text-white" href="/dichvusuachua">Dịch vụ sửa chữa</a>
          </li>
          <!-- Cart link for authorized users -->
          <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','USER')">
            <a class="nav-link text-white" href="/cart">Giỏ hàng</a>
          </li>
          <!-- Category menu for admin and staff -->
          <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'NV')">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Danh mục
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/role/2" sec:authorize="hasAnyAuthority('ADMIN')">Nhân viên</a>
              <a class="dropdown-item" href="/role/3" sec:authorize="hasAnyAuthority('ADMIN','NV')">Khách hàng</a>
              <a class="dropdown-item" href="/hoadons" sec:authorize="hasAnyAuthority('ADMIN','NV')">Hoá đơn</a>
              <a class="dropdown-item" href="/loaidienthoais" sec:authorize="hasAnyAuthority('ADMIN')">Loại điện thoại</a>
            </div>
          </li>
          <!-- Logout button for authenticated users -->
          <li sec:authorize="isAuthenticated()">
            <form action="/logout" method="post" style="display:flex; margin-top:10px;">
              <p class="text-white" style="text-transform: uppercase;width: 70px; margin-top:10px"></p>
              <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
          </li>
          <!-- Login button for unauthenticated users -->
          <li sec:authorize="!isAuthenticated()">
            <a class="btn btn-outline-primary" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="content">
    <!-- Content goes here -->
  </div>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="foot__menu">
      <!-- Footer menu -->
    </div>
    <div class="line-end"></div>
    <div class="foot--end">
      <p>© 2024 - Designed by huynh</p>
    </div>
  </div>
</footer>
<script src="../static/js/script.js"></script>
</body>
</html>
